.card{

    font-size: 17px;



    width: 1000px;
    max-width: 80%; 

    border: 3px solid black;
    border-radius: 10px;


    display: inline-block; 


    margin: 20px auto; 

    text-align: center; 

    display: block;
}



.hidden-text{
    color: black;
    background-color: black;
    transition: color 0.3s ease;
}

.hidden-text:hover{
    color: white; 
}