p {
    margin: 0;
    padding: 0;
}

#title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.editorButton {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.editorButton:hover {

    background-color: #e5e5e5;
}

.isActive {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bold {
    font-weight: 600;
}

#italic {

    font-style: italic;
}

#underline {
    text-decoration: underline;
}

.selectMenu {

    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.selectMenu:hover {

    background-color: #e5e5e5;
}

#editorContainer {

    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor {
    text-align: left;
    margin-top: 15px;
    width: 85vw;
    padding: 20px;
    border-style: none;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror:focus {
    outline: none;
}

#homeButton {

    position: absolute;
    height: 30px;
    width: 30px;
    margin: 5px;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

#noteTitle {
    margin-top: 8vh;
    font-weight: 500;
}

#categoryTitle {
    margin-top: 8vh;
    font-weight: 500;
}

#save {

    width: 65px;
    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #f1f1f1;
}

#save:hover {
    background-color: #e5e5e5;
}

#editorOptions {

    display: flex;
    align-items: center;
    justify-content: center;
}

.editorButton2 {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.editorButton2:hover {
    background-color: #e5e5e5;
}

.isActive2 {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

#aiGen {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 40vh;
    background-color: #f1f1f1;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

#aiInput {
    margin: 5px;
    padding: 10px;
    width: 50vw;
}