p {
    margin: 0;
    padding: 0;
}

#title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.editorButton {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.editorButton:hover {

    background-color: #e5e5e5;
}

.isActive {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bold {
    font-weight: 600;
}

#italic {

    font-style: italic;
}

#underline {
    text-decoration: underline;
}

.selectMenu {

    width: 75px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.selectMenu:hover {

    background-color: #e5e5e5;
}

#editorContainer {

    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor {
    margin-top: 15px;
    width: 85vw;
    padding: 20px;
    border-style: none;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror:focus {
    outline: none;
}

#homeButton {

    position: absolute;
    height: 30px;
    width: 30px;
    margin: 5px;
    top: 5px;
    left: 5px;
    padding: 0;
    background-color: #ffffff;
    border: none;
}