p {
    margin: 0;
    padding: 0;
}

#title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.editorButton {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.editorButton:hover {

    background-color: #e5e5e5;
}

.isActive {

    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bold {
    font-weight: 600;
}

#italic {

    font-style: italic;
}

#underline {
    text-decoration: underline;
}

.selectMenu {

    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.selectMenu:hover {

    background-color: #e5e5e5;
}

#editorContainer {

    margin: 20px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor {
    text-align: left;
    margin-top: 15px;
    width: 85vw;
    padding: 20px;
    border-style: none;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.ProseMirror:focus {
    outline: none;
}

#homeButton {

    position: absolute;
    height: 30px;
    width: 30px;
    margin: 5px;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

#homeButton:hover {
    box-shadow: none;
}

#homeButton:hover img {
    height: 27px;
    width: 27px;
}

#noteTitle {
    margin-top: 8vh;
    font-weight: 500;
}

#categoryTitle {
    margin-top: 8vh;
    font-weight: 500;
}

#save {

    width: 75px;
    height: 40px;
    margin: 20px;
    padding: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #f1f1f1;
}

#save:hover {
    background-color: #e5e5e5;
}

#editorOptions {

    display: flex;
    align-items: center;
    justify-content: center;
}

.editorButton2 {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.editorButton2:hover {
    background-color: #e5e5e5;
}

.isActive2 {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

#aiGen {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    background-color: #f1f1f1;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 72%;
}

#aiInput {
    margin: 0;
    padding: 10px;
    width: 20vw;
}

input {
    font-family: "Poppins", sans-serif;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#askGroq {
    margin: 15px;
}

#generate {
    margin: 15px;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 125px;
    height: 30px;
}