body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 10px;
    padding: 0;
    font-weight: 600;
    font-size: 35px;
}

#signupHeader {
    margin: 10px;
    margin-top: 15vh;
    padding: 0;
    font-size: 25px;
    font-weight: 600;
}

#signupInfoContainer {
    text-align: left;
}

input {
    width: 100%;
    margin: 0;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#signupHeader {
    margin: 10px;
    margin-top: 20vh;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
}

#signupButton {
    background-color: black;
    color: white;
    width: 125px;
}

#signupButton:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#loginButton {
    background-color: black;
    color: white;
    width: 125px;
}

#loginButton:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}